* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ran {
  font-size: 2rem;
}
.pass {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 900;
}

.brand:focus {
  --background-color: transparent;
}

.case-selector {
  display: flex;
  flex-wrap: wrap;
}

.radio-group {
  display: flex;
  flex-basis: 65%;
}

.radio-group > * {
  flex-basis: 33.33%;
}

.form-control {
  display: flex;
  align-items: center;
}

.case-selector div:first-child,
.form-control label {
  flex-basis: 35%;
}

.form-control input[type='number'] {
  max-width: 20ch;
}

section {
  margin-bottom: 0 !important;
}
