.ran {
  font-size: 2rem;
}
.pass {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 900;
}

.brand:focus {
  --background-color: transparent;
}

.case-selector {
  display: flex;
  flex-wrap: wrap;
}

.case-selector div:first-child {
  flex-grow: 1;
}

.radio-group {
  display: flex;
}

.form-control {
  display: flex;
}

.form-control label {
  flex-grow: 1;
}
