{% extends "layout.jinja" %}

{% block content %}

<section>
  <form action="/" method="POST">
    <section class="form-control">
      <label for="password-length">Password Length:</label>
      <input type="number" value="{{ previous_value | default(14) }}" name="password-length" id="password-length"
        min="6" max="64" required />
    </section>
    <section>
      <fieldset class="case-selector">
        <div>
          <legend>Select the case of characters:</legend>
        </div>
        <div class="radio-group">
          <div>
            <input {% if case==0 %} checked {% endif %} type="radio" id="both" name="ch-case" value="0">
            <label for="both">Both</label>
          </div>

          <div>
            <input {% if case==1 %} checked {% endif %} type="radio" id="uppercase" name="ch-case" value="1">
            <label for="uppercase">Uppercase</label>
          </div>

          <div>
            <input {% if case==-1 %} checked {% endif %} type="radio" id="lowercase" name="ch-case" value="-1">
            <label for="lowercase">Lowercase</label>
          </div>
        </div>
      </fieldset>

    </section>
    <section class="form-control">
      <label for="number">Inlcude numbers in the password:</label>
      <input type="checkbox" id="number" name="number" role="switch" {% if include_numbers %} checked {% endif %} />
    </section>

    <section style="padding-top:20px">
      <button type="submit">Generate</button>
    </section>
  </form>
</section>

{% if password is defined %}

<section>
  <small id="indicator" style="padding-bottom: 15px;">
    Click to copy or press
  </small>
  <input type="text" value="{{ password }}" readonly id='generated-password-input' style="margin-top: 10px" />
  <script>
    const gpInput = document.getElementById('generated-password-input')
    const indicator = document.getElementById('indicator')

    gpInput.onclick = event => {

      event.target.select();
      navigator.clipboard.writeText(gpInput.value)

      indicator.innerText = 'Copied'

      setInterval(() => {
        indicator.innerHTML = "Click on password to copy"
      }, 1500)
    }
  </script>
</section>
{% endif %}


{% endblock %}