<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favico.png') }}" type="image/png" />
  <title>RANPass - A simple random password generator.</title>
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="/"><strong>RANPass</strong></a></li>
        </ul>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/generator" method="POST">
        <section>
          <label for="password-length">password length</label>
          <input type="number" name="password-length" id="password-length">
        </section>
        <section>
          <button type="submit">Generate</button>
        </section>
      </form>
    </main>
  </div>
</body>

</html>