<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RANPass - A simple random password generator.</title>
</head>

<body>
  <header>
    <section>RANPass</section>
    <section>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <main>
    <form action="/generator">
      <section>
        <label for="password-length">password length</label>
        <input type="number" id="password-length">
      </section>
      <section>
        <button type="submit">Generate</button>
      </section>
    </form>
  </main>
  <footer>
    <section>RANPass</section>
    <section>
      <section>
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </section>
    </section>
  </footer>
</body>

</html>