<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favico.png') }}" type="image/png" />

  {% if title %}
  <title> {{title}} RANPass - A simple random password generator.</title>
  {% else %}
  <title> RANPass- A simple random password generator.</title>
  {% endif %}
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" class="brand">
              <strong>
                <span class="ran">RAN</span><span class="pass">Pass</span>
              </strong>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a {% if title !="" %} class="secondary" {% endif %} href="/">
              Home
            </a>
          </li>
          <li>
            <a {% if title !="About" %} class="secondary" {% endif %} href="/about">
              About
            </a>
          </li>
          <li>
            <a {% if title !="Contact" %} class="secondary" {% endif %} href="/contact">
              Contact
            </a>
          </li>
          <li>
            <details role="list">
              <summary aria-haspopup="listbox" role="button">Theme</summary>
              <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        {% block content %}

        {% endblock content %}
      </div>
    </main>
  </div>
  <script src="{{ url_for('static', filename='js/themeSwitcher.js')}}"></script>

</body>

</html>