<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favico.png') }}" type="image/png" />

  {% if title %}
  <title> {{title}} RANPass - A simple random password generator.</title>
  {% else %}
  <title> RANPass- A simple random password generator.</title>
  {% endif %}
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="/"><strong>RANPass</strong></a></li>
        </ul>
        <ul>
          <li>
            <a {% if title !="" %} class="secondary" {% endif %} href="/">
              Home
            </a>
          </li>
          <li>
            <a {% if title !="About" %} class="secondary" {% endif %} href="/about">
              About
            </a>
          </li>
          <li>
            <a {% if title !="Contact" %} class="secondary" {% endif %} href="/contact">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        {% block content %}

        {% endblock content %}
      </div>
    </main>
  </div>
</body>

</html>